# Проект 1. Кто хочет стать миллионером кинопроката

Имеется набор данных по фильмам из базы IMDB. По проекту требуется дать ответы на тренировочные вопросы, для отработки навыков владения библиотеками обработки и визуализации данных (pandas, numpy, seaborn, etc)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

['imbd-sf']

In [2]:
data = pd.read_csv('../input/imbd-sf/data.csv')

## Предобработка датасета

In [4]:
answer_ls = []  # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 169.9+ KB

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
data.sort_values(['budget'], ascending=False)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,3180,6.3,2011
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,2626,6.8,2007
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015
1015,tt0401729,1.588457,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,1479,6.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,tt0283111,1.568528,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,684,5.9,2002
893,tt0259446,1.271588,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,395,6.1,2002
1072,tt2109184,0.557661,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,352,5.3,2012
912,tt0322802,0.925495,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,197,6.2,2002
1217,tt2101441,1.626627,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,996,5.0,2013

In [7]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data.sort_values([data.runtime.name], ascending=False).head()
# data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,197,6.5,2007
1337,tt0360717,1.508329,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,1289,6.4,2005
505,tt0213149,2.478879,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,1044,6.6,2001

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [10]:
data[data.runtime == min(data.runtime)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [11]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [12]:
data.runtime.mean()

109.65343915343915

In [13]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [14]:
np.median(data.runtime)
# np.percentile(data.runtime, 50)

106.5

In [15]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [16]:
data['profit'] = data.revenue - data.budget
data[['imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
      'profit']].sort_values(['profit'], ascending=False)

,imdb_id,popularity,budget,revenue,original_title,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,2544505847
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,1868178225
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,1363528810
4,tt2820852,9.335014,190000000,1506249360,Furious 7,1316249360
971,tt0848228,7.637767,220000000,1519557910,The Avengers,1299557910
...,...,...,...,...,...,...
959,tt0180052,0.912373,100000000,7103973,The Adventures of Pluto Nash,-92896027
810,tt1305591,0.921653,150000000,38992758,Mars Needs Moms,-111007242
1617,tt0318974,0.948560,145000000,25819961,The Alamo,-119180039
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,-165710090
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,-413912431

In [17]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [18]:
data[data.profit == min(data.profit)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [19]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [20]:
len(data[data.profit > 0])

1478

In [21]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [22]:
# str_data = data[data.index == 0].release_date[0]
# print(str_data)
# pd.to_datetime(str_data).year
# data['datetime_release'] = data.release_date.apply(pd.to_datetime)
# data.head()
# не заметил, что есть уже колонка с годом релиза...))

In [23]:
# data[data.release_year == 2008].sort_values(['profit'], ascending=False).head()
data[data.release_year == 2008].sort_values(
    ['revenue'], ascending=False).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,1537,5.6,2008,601636033
607,tt0441773,3.036644,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,1938,6.8,2008,501744560
622,tt0448157,1.800286,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,1764,6.0,2008,474029371
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,805,6.2,2008,557841637

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data[(2012 <= data.release_year) & (data.release_year <= 2014)
     ].sort_values(['profit']).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500
1008,tt1374992,1.690572,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,695,6.1,2012,-51893525
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973
1236,tt1308729,1.319947,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,347,5.2,2013,-45510171

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
genr_list = []
for s in data.genres:
    for word in s.split('|'):
        genr_list.append(word)
c = Counter(genr_list)
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 597, 'Action': 583, 'Adventure': 416, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 223, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 20, 'Documentary': 8, 'Foreign': 2})

In [28]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [29]:
genr_list = []
for s in data[data.profit > 0].genres:
    for word in s.split('|'):
        genr_list.append(word)
c = Counter(genr_list)
print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

In [30]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
data.director[0].split("|")
directors_list = []
for s in data.director:
    for director_name in s.split("|"):
        directors_list.append(director_name)
c = Counter(directors_list)
print(c.most_common(5))
# help(Counter)

[('Steven Soderbergh', 13), ('Ridley Scott', 12), ('Clint Eastwood', 12), ('Robert Rodriguez', 11), ('Steven Spielberg', 10)]

In [32]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
data.director[0].split("|")
directors_list = []
for s in data[data.profit > 0].director:
    for director_name in s.split("|"):
        directors_list.append(director_name)
c = Counter(directors_list)
print(c.most_common(5))
# help(Counter)

[('Ridley Scott', 12), ('Steven Spielberg', 10), ('Clint Eastwood', 10), ('Steven Soderbergh', 10), ('Shawn Levy', 9)]

In [34]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
directors_profit = Counter()
for i in data.index:
    for director_name in data.iloc[i].director.split("|"):
        directors_profit[director_name] += data.iloc[i].profit
print(directors_profit.most_common(5))

[('Peter Jackson', 5202593685), ('David Yates', 3379295625), ('Christopher Nolan', 3162548502), ('J.J. Abrams', 2839169916), ('Michael Bay', 2760938960)]

In [36]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
actors_profit = Counter()
for i in data.index:
    for actor_name in data.iloc[i].cast.split("|"):
        actors_profit[actor_name] += data.iloc[i].profit
print(actors_profit.most_common(5))

[('Emma Watson', 6666245597), ('Daniel Radcliffe', 6514990281), ('Rupert Grint', 6408638290), ('Ian McKellen', 6087375777), ('Robert Downey Jr.', 5316030161)]

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
actors_profit = Counter()
for i in data[data.release_year == 2012].index:
    for actor_name in data.iloc[i].cast.split("|"):
        actors_profit[actor_name] += data.iloc[i].profit
print(actors_profit.most_common()[:-5:-1])
# help(Counter)

[('Kirsten Dunst', -68109207), ('Heidi Hawkins', -51893525), ('James Kidnie', -51893525), ('Timothy Spall', -51893525)]

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
# print(data.budget.mean())
data[data.budget > data.budget.mean()]

actors_list = Counter()
for i in data[data.budget > data.budget.mean()].index:
    for actor_name in data.iloc[i].cast.split("|"):
        actors_list[actor_name] += 1
print(actors_list.most_common(5))

[('Matt Damon', 18), ('Adam Sandler', 17), ('Angelina Jolie', 16), ('Tom Cruise', 15), ('Samuel L. Jackson', 15)]

In [42]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [43]:
df = data[data.cast.str.contains('Nicolas Cage')]

genr_list = []
for s in df.genres:
    for word in s.split('|'):
        genr_list.append(word)
c = Counter(genr_list)
print(c.most_common(5))

[('Action', 17), ('Thriller', 15), ('Drama', 12), ('Crime', 10), ('Fantasy', 8)]

In [44]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
companies_list = []
c = Counter()
for s in data.production_companies:
    for companie_name in s.split("|"):
        c[companie_name] += 1

print(c.most_common(5))

[('Universal Pictures', 173), ('Warner Bros.', 168), ('Paramount Pictures', 122), ('Columbia Pictures', 117), ('Twentieth Century Fox Film Corporation', 109)]

In [46]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
companies_list = []
c = Counter()
for s in data[data.release_year == 2015].production_companies:
    for companie_name in s.split("|"):
        c[companie_name] += 1

print(c.most_common(5))

[('Warner Bros.', 12), ('Universal Pictures', 10), ('Twentieth Century Fox Film Corporation', 8), ('Paramount Pictures', 7), ('Columbia Pictures', 7)]

In [48]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [49]:
# genres = []
# for s in data.genres.values:
#     for genre in s.split("|"):
#         genres.append(genre)
# set(genres)

df = data[data.genres.str.contains('Comedy')]

c = Counter()
for i in range(len(df.index)):
    for companie_name in df.iloc[i].production_companies.split("|"):
        c[companie_name] += df.iloc[i].profit

print(c.most_common(5))

[('Universal Pictures', 8961545581), ('Walt Disney Pictures', 7669710326), ('Twentieth Century Fox Film Corporation', 5686960294), ('Columbia Pictures', 5646343696), ('DreamWorks Animation', 4789049764)]

In [50]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [51]:
df = data[data.release_year == 2012]

c = Counter()
for i in range(len(df.index)):
    for companie_name in df.iloc[i].production_companies.split("|"):
        c[companie_name] += df.iloc[i].profit

print(c.most_common(5))

[('Columbia Pictures', 2501406608), ('Universal Pictures', 1981011579), ('Marvel Studios', 1299557910), ('Warner Bros.', 1258020056), ('Relativity Media', 1032593938)]

In [52]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [53]:
df = data[data.production_companies.str.contains('Paramount Pictures')]
df[df.profit == min(df.profit)]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [54]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [55]:
df_gr = data.groupby([data.release_year])[
    'profit'].sum().sort_values(ascending=False)
display(df_gr.head())

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

In [56]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [57]:
df = data[data.production_companies.str.contains('Warner Bros')]
df_gr = data.groupby([data.release_year])[
    'profit'].sum().sort_values(ascending=False)
display(df_gr.head())

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
Name: profit, dtype: int64

In [58]:
answer_ls.append(5)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [59]:
data['datetime_release'] = data.release_date.apply(pd.to_datetime)
data['release_month'] = data.datetime_release.apply(
    lambda datetime: datetime.month)
data.release_month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [60]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [61]:
data['datetime_release'] = data.release_date.apply(pd.to_datetime)
data['release_month'] = data.datetime_release.apply(
    lambda datetime: datetime.month)
movie_counts = data.release_month.value_counts()
print(movie_counts)
sum([movie_counts.values[i] for i in range(len(movie_counts.index))
     if movie_counts.index[i] in [6, 7, 8]])

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

450

In [62]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [63]:
df = data[data.release_month.isin((12, 1, 2))]
df.head(3)
c = Counter()
for i in range(len(df)):
    for director_name in df.iloc[i].director.split("|"):
        c[director_name] += 1
print(c.most_common(5))

[('Peter Jackson', 7), ('Clint Eastwood', 6), ('Steven Soderbergh', 6), ('Shawn Levy', 4), ('Nancy Meyers', 4)]

In [64]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [65]:
data.head(3)
pivot = data.pivot_table(index=['release_year'],
                         columns=['release_month'], values=['profit'], aggfunc='sum')
display(pivot)
display(pivot.idxmax(axis=1))
display(pivot.idxmax(axis=1).value_counts())

                  profit                                                 \
release_month         1          2           3           4           5
release_year
2000           -26344591  310137593   490709929   124362846  1382722190
2001           127876758  178360689   396218262   659725033   767934975
2002            13657034  557847442   832386092   343737203  1421928692
2003           145423503  422979087   160261385   479653942  2000292657
2004           223449403  727540831   307233119   275005057  2412578839
2005           419099490  506931359   440128754   178673498  1575566228
2006           138996816  317624889   799504296   361121653   985092012
2007            91188025  500661304   714586308   143245753  2042169546
2008           440344541  987454669   251671904   720571689  1744305931
2009           996529660  326413800  1276096794   651749767  1435747314
2010           233051923  671341193  1471122239   841530415  1105092975
2011           591644835  642751509  1443419914  1507477958  1917491757
2012           381045653  573073426  1459834347  1767272417  1140614925
2013           449051535  509981099   970223425  1423545114  1724496337
2014           541637085  736685970  1768873778   795767674  2279978281
2015           630233784  884789565   937945994  2602565518  1103503482

                                                                           \
release_month          6           7           8           9           10
release_year
2000            517315528   563809888   264018332   175306761   399938512
2001            780612105   873718941   726979609    21874909   146204533
2002            747704475   629306797   579318434   417267245   420527680
2003            406445507  1356384641   444992536   503313816   837090991
2004           1294266591   834850950   332763539   475369751   593314410
2005           1193230558   870215460   266644459   995622427   154493344
2006           2098059770   242337901   429249082   451456811   826087838
2007           2764341802   747619985   881421482   435838557   516228592
2008           1943384763  1791301749   325382603   339476350  1145762453
2009           1520284741  1202339588   803565587   393041320   836577088
2010           2449561498  1567485183   971023396  1091274243  1080204976
2011           1524706926  2331661017   667283164   733166385   968743489
2012           2965481705   940512033   702588445  1308166465  1320250459
2013           2411922008  1192996016   590070005  1165693297  1042812263
2014           1176264662  1611081683  1163610627   596366679  1764509467
2015           3757679861  1552273188   491699146  1775686025   942161764


release_month          11          12
release_year
2000            487934818  1411487999
2001           1567240927  1703868124
2002           1190606216  1848074177
2003            609390731  1862594516
2004           1050846495  1106961735
2005           1027204825  1354115156
2006           1106305898   935240354
2007            896805244  1831805203
2008            847289768  1126935570
2009            558158975  3423239738
2010            736020890   899583599
2011            859313689  1542580698
2012           2412991475  1105170337
2013           2047380217  1715008475
2014           2043956761  1919080286
2015           1212708544  2777325507

release_year
2000    (profit, 12)
2001    (profit, 12)
2002    (profit, 12)
2003     (profit, 5)
2004     (profit, 5)
2005     (profit, 5)
2006     (profit, 6)
2007     (profit, 6)
2008     (profit, 6)
2009    (profit, 12)
2010     (profit, 6)
2011     (profit, 7)
2012     (profit, 6)
2013     (profit, 6)
2014     (profit, 5)
2015     (profit, 6)
dtype: object

(profit, 6)     7
(profit, 12)    4
(profit, 5)     4
(profit, 7)     1
dtype: int64

In [66]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [67]:
# Этот подход не сработал
# company_movie_title_len_dict = dict()
# for i in range(len(data)):
#     for comp_name in data.iloc[i].production_companies.split('|'):
#         if comp_name not in company_movie_title_len_dict:
#             company_movie_title_len_dict[comp_name] = []
#         else:
#             company_movie_title_len_dict[comp_name].append(len(data.iloc[i].original_title))

# title_av_len_dict = {comp_name: np.mean(L) for comp_name, L in company_movie_title_len_dict.items()}
# max_in_dict = ['',0]
# for name, value in title_av_len_dict.items():
#     if value > max_in_dict[1]:
#         max_in_dict = [name,value]
# print(title_av_len_dict)

In [68]:
data['title_len'] = data.original_title.apply(lambda s: len(s))
list_comp_names = []
list_title_len = []
for i in range(len(data)):
    for comp_name in data.iloc[i].production_companies.split("|"):
        list_comp_names.append(comp_name)
        list_title_len.append(data.iloc[i].title_len)
df = pd.DataFrame({'company_name': list_comp_names,
                   'title_len': list_title_len})
df.groupby(['company_name'])['title_len'].mean().sort_values(ascending=False)

company_name
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1772, dtype: float64

In [69]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
data['title_words_len'] = data.original_title.apply(
    lambda s: len(s.split(" ")))
list_comp_names = []
list_title_len = []
for i in range(len(data)):
    for comp_name in data.iloc[i].production_companies.split("|"):
        list_comp_names.append(comp_name)
        list_title_len.append(data.iloc[i].title_words_len)
df = pd.DataFrame({'company_name': list_comp_names,
                   'title_len': list_title_len})
df.groupby(['company_name'])['title_len'].mean().sort_values(ascending=False)

company_name
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: title_len, Length: 1772, dtype: float64

In [71]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [72]:
words_list = []
for i in range(len(data)):
    for word in data.iloc[i].original_title.split(" "):
        words_list.append(word.lower())
print(len(set(words_list)))
print(len(words_list))

2462
5138

In [73]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [74]:
# print(data.vote_average.quantile(0.99))
# data.vote_average.value_counts(normalize=True)
data[data.vote_average > data.vote_average.quantile(0.99)].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [75]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [76]:
from itertools import combinations

In [77]:
c = Counter()
df = data.cast.apply(lambda s: list(combinations(s.split("|"), 2)))

for i in range(len(df)):
    for actors_pair in df[i]:
        c[actors_pair] += 1
print(c.most_common(5))

[(('Daniel Radcliffe', 'Rupert Grint'), 8), (('Daniel Radcliffe', 'Emma Watson'), 8), (('Rupert Grint', 'Emma Watson'), 7), (('Ben Stiller', 'Owen Wilson'), 6), (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [78]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [79]:
data['title_words_len'] = data.original_title.apply(
    lambda s: len(s.split(" ")))
list_comp_names = []
list_title_len = []
for i in range(len(data)):
    for comp_name in data.iloc[i].production_companies.split("|"):
        list_comp_names.append(comp_name)
        list_title_len.append(data.iloc[i].title_words_len)
df = pd.DataFrame({'company_name': list_comp_names,
                   'title_len': list_title_len})
df.groupby(['company_name'])['title_len'].mean().sort_values(ascending=False)

company_name
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: title_len, Length: 1772, dtype: float64

In [80]:
list_directors = []
list_profit = []
for i in range(len(data)):
    for director in data.iloc[i].director.split("|"):
        list_directors.append(director)
        if data.iloc[i].profit > 0:
            list_profit.append(1)
        else:
            list_profit.append(0)
df = pd.DataFrame({'director': list_directors, 'is_profit': list_profit})
df = df[df.director.isin(['Quentin Tarantino', 'Steven Soderbergh',
                          'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood'])]
df.groupby(['director'])['is_profit'].value_counts(normalize=True)
# вариант решения получился не до конца верным, потому что взял из представленных вариантов
# для правильного варианта стоит только разобраться, как вывести правильно отсортированные значения
# в следующей строке, потому что он сортирует не для каждого режиссера по is_profit
# df.groupby(['director'])['is_profit'].value_counts().sort_values(ascending=False)

director           is_profit
Christopher Nolan  1            1.000000
Clint Eastwood     1            0.833333
                   0            0.166667
Quentin Tarantino  1            0.857143
                   0            0.142857
Robert Rodriguez   1            0.727273
                   0            0.272727
Steven Soderbergh  1            0.769231
                   0            0.230769
Name: is_profit, dtype: float64

In [81]:
answer_ls.append(4)

# Submission

In [82]:
len(answer_ls)

36

In [83]:
pd.DataFrame({'Id': range(1, len(answer_ls)+1),
              'Answer': answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       5
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4